@import "tailwindcss";

@layer base {
  body {
    font-family: 'Playfair Display', serif;
  }
}


@theme {
  --color-brand-cream: #f7f2ec;
  --color-brand-brown: #2a2020;
  --color-brand-accent: #633D49;
  --color-brand-card: #efe7de;
  --color-brand-border: #ded5cc;
  --color-brand-ring: #a18d9f;
  --color-brand-heading: #3b2b2b;
  --color-brand-muted: #8b817b;
  --color-brand-body: #5f5652;
}